@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root {
    --neutro-50: #e9e9e8;
    --neutro-100: #d4d4d2;
    --neutro-200: #bebebb;
    --neutro-300: #a9a9a4;
    --neutro-400: #93938d;
    --neutro-500: #7d7d77;
    --neutro-600: #64645f;
    --neutro-700: #4b4b47;
    --neutro-800: #323230;
    --neutro-900: #191918;
    --primary-50: #c7eafd;
    --primary-100: #8ed5db;
    --primary-200: #56c0f8;
    --primary-300: #1eabf6;
    --primary-400: #099cd1;
    --primary-500: #066699;
    --primary-600: #05527a;
    --primary-700: #043d5c;
    --primary-800: #02293d;
    --primary-900: #0114af;
}

.container {
    background-color: var(--primary-900);
}

/* header */
.container header {
    background-color: var(--primary-500);
    color: var(--neutro-100);
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

/* header title */
header .title .img {
    width: 20px;
    height: 20px;
}
header .title .img img {
    width: 100%;
    height: 100%;
}

/* header nav hamburger */
header nav .nav-hamburger {
    width: 20px;
    height: 20px;
    padding: 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header nav .nav-hamburger:hover,
header nav .nav-hamburger:focus {
    background-color: var(--primary-200);
}
header nav .nav-hamburger div {
    background-color: var(--neutro-100);
    height: 3px;
}

/* header nav nav */
header nav .nav {
    width: 100%;
    background-color: var(--primary-700);
    position: absolute;
    left: 0;
    top: 40px;
}
header nav .nav ul {
    list-style: none;
}
header nav .nav a {
    display: inline-block;
    width: 100%;
    color: var(--neutro-50);
    padding: 15px 10px;
    text-align: center;
    text-decoration: none;
    transition: 0.5s;
}
header nav .nav a:hover,
header nav .nav a:focus {
    background-color: var(--primary-800);
}

/* body */
.container main {
    padding: 0 10px;
}

/* body principle */
main .principle .hanging-icons .icon img {
    width: 20px;
    height: 20px;
}

/* body about me */
main .about-me .description img {
    width: 20px;
    height: 20px;
}