@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');
@import "tailwindcss";
@tailwind utilities;

@theme {
    --font-roboto: 'Roboto', sans-serif;
    --font-rowdies: 'Rowdies', sans-serif;
    --color-50: #F0F9FF;
    --color-100: #E1F2FD;
    --color-200: #BBE6FC;
    --color-300: #80D3F9;
    --color-400: #3CBDF4;
    --color-500: #12A5E5;
    --color-600: #0684C3;
    --color-700: #066699;
    --color-800: #0A5982;
    --color-900: #0E4A6C;
    --color-950: #092F48;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
span,
button {
    font-family: var(--font-roboto);
}

h1,
.font-h1 {
    font-family: var(--font-rowdies);
    font-size: 2.5rem;
}

h2,
.font-h2 {
    font-family: var(--font-rowdies);
    font-size: 2rem;
}

h3,
.font-h3 {
    font-size: 1.75rem;
}

h4,
.font-h4 {
    font-size: 1.5rem;
}

h5,
.font-h5 {
    font-size: 1.25rem;
}

h6,
.font-h6 {
    font-size: 1rem;
}

/* img logo */
.img-logo>img {
    @apply drop-shadow-50 drop-shadow-sm;
}

/* nav link */
.nav-link {
    @apply flex items-center gap-10 text-50;
}

.nav-link div:not(.language) {
    @apply h-fit cursor-pointer hover:border-b-3 hover:border-50 hover:scale-110 transition;
}

.nav-link>div.language {
    @apply flex gap-2;
}

/* main */
.main {
    @apply flex items-center bg-950 h-[calc(100dvh-70px)] max-w-5xl mx-auto;
}

.main .main-content {
    @apply flex flex-col flex-1/2 justify-center;
}

/* main icons */
.main .main-content-icons {
    @apply relative h-[50px];
}

.main .main-content-icons>.icons {
    @apply flex items-center justify-center border border-50 rounded w-[50px] h-[50px] absolute;
}

/* main body */
.main .main-content-body {
    @apply flex flex-col gap-3 text-50 font-bold;
}

.main .main-content-body>div {
    @apply flex gap-3;
}

/* main perfil */
.main .perfil {
    @apply relative flex-1/2 h-[500px];
}

/* main perfil astro and perfil */
.main .perfil .perfil-astro {
    @apply absolute top-8 left-20 drop-shadow-500 drop-shadow-lg;
}

.main .perfil .autor {
    @apply absolute top-0 -right-10;
}

/* projects */
.projects {
    @apply py-50 text-50;
}

.bg-grandient-custom {
    background: linear-gradient(var(--color-950) 0%, black 20%, black 90%, var(--color-950)) 100%;
}

.projects-content {
    @apply w-5xl mx-auto;
}

/* projects card */
.projects-content .card {
    @apply flex gap-20 mb-10;
}

.projects-content .card.card-reverse {
    @apply flex-row-reverse;
}

.projects-content .card .card-body {
    @apply flex flex-col gap-3 flex-1/2 justify-center h-[408px];
}

/* projects button */
.projects>div:last-child {
    @apply w-fit mx-auto;
}

.projects-content .card .card-body .card-tech>div,
.projects-content .card .card-body .card-buttons {
    @apply flex gap-2;
}

/* contact */
.contact {
    @apply py-20 text-50;
}

.contact-content {
    @apply flex flex-col relative w-5xl mx-auto border-15 border-500 rounded;
}

.contact-content h2 {
    @apply absolute -top-10 left-5 bg-950 px-2;
}

.contact-content form {
    @apply m-10 p-5 rounded border;
}

.contact-content form .input {
    @apply flex flex-col gap-2 relative mb-4;
}

.contact-content form .input label {
    @apply text-gray-400 font-bold absolute left-2 top-2 pointer-events-none transition-all duration-200;
}

.contact-content form .input input,
.contact-content form .input textarea {
    @apply p-2 rounded border border-50 bg-900 text-50 outline-none;
}

/* Floating label effect */
.contact-content form .input input:focus+label,
.contact-content form .input input:not(:placeholder-shown)+label,
.contact-content form .input textarea:focus+label,
.contact-content form .input textarea:not(:placeholder-shown)+label {
    @apply -top-[10px] left-[0.5rem] text-sm text-gray-400 bg-900 px-2 rounded;
}

/* animations */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes icon-float {
    0% {
        transform: translate(10px, 10px);
    }

    50% {
        transform: translate(-10px, -10px);
    }

    100% {
        transform: translate(0, 0);
    }
}

.animate-scroll {
    animation: scroll 60s linear infinite;
}

.animate-icon-float {
    animation: icon-float 20s infinite;
}